.breadcrumb-bettix {
  position: relative;
  z-index: 2;
}
.breadcrumb-bettix:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    230deg,
    rgba(34, 34, 34, 0) 0%,
    #000609 59%
  );
  background: -o-linear-gradient(230deg, rgba(34, 34, 34, 0) 0%, #000609 59%);
  background: linear-gradient(220deg, rgba(34, 34, 34, 0) 0%, #000609 59%);
  z-index: -1;
  opacity: 0.9;
}

.breadcrumb-bettix.standing-page {
  background: url("../img/breadcrumb-bg-standing.jpg") center bottom no-repeat;
  background-size: cover;
}
.breadcrumb-bettix .breadcrumb-content {
  padding: 120px 0;
}
.breadcrumb-bettix .breadcrumb-content h2 {
  font-size: 45px;
  color: #ffd800;
  margin-bottom: 11px;
  text-transform: uppercase;
  margin-top: -11px;
}
.breadcrumb-bettix .breadcrumb-content ul {
  margin-bottom: -6px;
}
.breadcrumb-bettix .breadcrumb-content ul li {
  display: inline-block;
  position: relative;
  color: #ffd800;
  text-transform: uppercase;
  font-size: 14px;
}
.breadcrumb-bettix .breadcrumb-content ul li:last-child:after {
  display: none;
}
.breadcrumb-bettix .breadcrumb-content ul li a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
.breadcrumb-bettix .breadcrumb-content ul li a:hover {
  color: #ffd800;
}

/*Standing*/

.standing {
  padding: 120px 0 117px;
  background-image: linear-gradient(#3c3c3c, rgb(129, 128, 128));
}
.standing .standing-team-list {
  box-shadow: 0px 2px 7px 0px rgba(217, 255, 1, 0.15);
  padding: 30px 30px 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.standing .standing-team-list .result-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
  position: relative;
  padding-left: 30px;
  color: #ffd800;
  text-transform: uppercase;
}
.standing .standing-team-list .result-title:after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #ffd800;
  border-radius: 50%;
}
.standing .standing-team-list .table {
  border-collapse: separate;
  border-spacing: 0 20px;
}
.standing .standing-team-list .table thead tr {
  box-shadow: 0px 2px 7px 0px rgba(255, 255, 255, 0.08);
  background: #383838;
}
.standing .standing-team-list .table thead tr th {
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #3c3c3c;
  height: 60px;
  vertical-align: middle;
}
.standing .standing-team-list .table thead tr th:first-child {
  padding-left: 30px;
}
.standing .standing-team-list .table tbody tr {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(42, 42, 42, 0.08);
  box-shadow: 0px 2px 7px 0px rgba(42, 42, 42, 0.08);
  background: rgb(117, 116, 116);
}
.standing .standing-team-list .table tbody tr th,
.standing .standing-team-list .table tbody tr td {
  border: none;
  vertical-align: middle;
  height: 80px;
}
.standing .standing-team-list .table tbody tr th {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
  padding-left: 30px;
}
.standing .standing-team-list .table tbody tr td {
  color: rgba(70, 65, 65, 0.8);
  font-weight: 500;
}
.standing .standing-team-list .table tbody tr td .single-team {
  display: block;
}
.standing .standing-team-list .table tbody tr td .single-team span {
  display: inline-block;
}
.standing .standing-team-list .table tbody tr td .single-team span.logo {
  height: 45px;
  margin-right: 15px;
  color: #fff;
}
.standing .standing-team-list .table tbody tr td .single-team span.logo img {
  height: 100%;
  width: auto;
}
.standing .standing-team-list .table tbody tr td .single-team span.text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}
.standing .standing-team-list .table .text-right a,
.standing .standing-team-list .table .text-center a {
  color: #fff !important ;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .myBets .table-wrap {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* breadcrumb */
  .breadcrumb-bettix .breadcrumb-content {
    padding: 50px 0;
  }
  .breadcrumb-bettix .breadcrumb-content h2 {
    font-size: 28px;
    margin-top: -7px;
    margin-bottom: 5px;
  }
  .breadcrumb-bettix .breadcrumb-content ul li {
    font-size: 14px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* breadcrumb */
  .breadcrumb-bettix .breadcrumb-content {
    padding: 50px 0;
  }
  .breadcrumb-bettix .breadcrumb-content h2 {
    font-size: 28px;
    margin-top: -7px;
    margin-bottom: 5px;
  }
  .breadcrumb-bettix .breadcrumb-content ul li {
    font-size: 14px;
  }
  .standing .standing-team-list {
    width: 100%;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 575px) {
  /* breadcrumb */
  .breadcrumb-bettix .breadcrumb-content {
    padding: 50px 0;
  }
  .breadcrumb-bettix .breadcrumb-content h2 {
    font-size: 28px;
    margin-top: -7px;
    margin-bottom: 5px;
  }
  .breadcrumb-bettix .breadcrumb-content ul li {
    font-size: 14px;
  }
  .standing .standing-team-list {
    width: 100%;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  /* breadcrumb */
  .breadcrumb-bettix .breadcrumb-content {
    padding: 50px 0;
  }
  .breadcrumb-bettix .breadcrumb-content h2 {
    font-size: 28px;
    margin-top: -7px;
    margin-bottom: 5px;
  }
  .breadcrumb-bettix .breadcrumb-content ul li {
    font-size: 14px;
  }
  .standing .standing-team-list {
    width: 100%;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 280px) and (max-width: 350px) {
  /* breadcrumb */
  .breadcrumb-bettix .breadcrumb-content {
    padding: 50px 0;
  }
  .breadcrumb-bettix .breadcrumb-content h2 {
    font-size: 28px;
    margin-top: -7px;
    margin-bottom: 5px;
  }
  .breadcrumb-bettix .breadcrumb-content ul li {
    font-size: 14px;
  }
  .standing .standing-team-list {
    width: 100%;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  /* breadcrumb */
  .breadcrumb-bettix .breadcrumb-content {
    padding: 50px 0;
  }
  .breadcrumb-bettix .breadcrumb-content h2 {
    font-size: 28px;
    margin-top: -7px;
    margin-bottom: 5px;
  }
  .breadcrumb-bettix .breadcrumb-content ul li {
    font-size: 14px;
  }
  .standing {
    padding: 60px 0 57px;
  }
  .standing .filter-menu .form-group {
    margin-bottom: 10px;
  }
  .standing .standing-team-list {
    width: 500px;
    margin-bottom: 8px;
    margin-top: 4px;
    margin-left: 5px;
  }
  .standing .standing-list-cover {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .standing .filter-menu {
    margin-bottom: 30px;
  }
}
