@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap");
.container {
  max-width: 1200px;
}

html {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 0;
  color: #fff;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  line-height: 1.3;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
}

a {
  color: #111705;
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a i {
  padding: 0 2px;
}

img {
  max-width: 100%;
}
ul li {
  list-style: none;
}

/*input and button type focus outline disable*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ddd;
}
